body{
    background-color: #fffdf5;
}

.navbar{
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 00px 24px 15px;
    

}

.logo{
   
    height: 68px;
    width: 222px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.navbar_page1{
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
    
    
   
}
.navbar_font{
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    color: black;

}
i{
    font-size: 15px;
}
.option1{
    display: flex;
   

}
.option4{
    display: flex;
}


.navbar_page2{
    height: 68px;
    width: 202px;
    display: flex;
    align-items: center;
}

.option9{
    color: white;
    height: 48px;
    width: 202px;
    background-color: #fe5c45;
    margin-left: 25px;
    border-radius: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color:transparent;
}
.option9:hover{
    background-color: rgb(25, 8, 87);
}


/* box 1 */
.box1{
    height: 737px;
    width: 100%;
   
    padding-top: 30px;
    margin-top: 15px;
    /* display: flex; */
    
}
.body1{
    height: 599px;
    width: 100%;
    
    display: flex;
}


.body1_1{
    height: 599px ;
    width: 50%;
    
    
    
}
.body1_1_1_tittle{
    height: 63px ;
    width: 293px;
    background-image: url(images/image2.svg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fffdf5;
    font-family: sans-serif;
    margin-left: 24px;
}
.tittle_name{
    
    font-size: 30px;
    color: #0c1a40;
    font-family: sans-serif ;
    margin-left: 24px;
}

.body1_1_1_para{
    height: 182px;
    color: #2e3c63;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 24px;
}
.body1_1_1_button{
    margin-left: 24px;
    height: 50px;
    width: 152px;
    font-family: sans-serif;
    background-color: #fe5c45;
    border-radius: 2.25rem;
    font-size: 16px;
    color: white;
    border-color: transparent;
}
.body1_1_1_button:hover{
    background-color: rgb(25, 8, 87);
}

.body1_2{
    height: 599px;
    width: 494px;
    
    margin-left: 150px;
}
.body1_2_image{
    height: 426px;
    background-image: url(images/image4.svg);
    background-size: cover;
}
.body2{
    display: flex;
}

.body2_image1{
    height: 138px;
    width: 100%;
    background-image: url("images/image5.svg");
 
    
}
.body2_image2{
 position: relative;
 bottom: 112px;
 z-index: -1;
}
.body2_image3{
    position: relative;
    bottom: 170px;
    left: 600px;
    z-index: -1;
   }



   /* box 2 */
   .box2{
    height: 1086px;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 140px;
   }
   .box2_body1{
    height: 184px;
    width:100%;
    text-align: center;

   }
   .box2_body1 h2{
    font-family: sans-serif;
    font-size: 48px;
    color: #0c1a40;
    margin: 0%;

   }
   .box2_body1 .space1{
    padding: 0px 0px 24px;
   }
   .box2_body1 p{
    font-family: sans-serif;
    font-size: 15px;
    color: #2e3c63;
    margin: 0px;
    
   }
  
   .box2_body2{
    height: 942px;
    display: flex;   
    flex-wrap: wrap;
    padding-top: 60px;
   }

   .box2_content_box1{
    background-image: url("images/content1.png");
    background-size: cover;
    height: 300px;
    width: 230px;
    padding: 38px 30px 44px;
    background-position: 50%;
    text-align: center;
    margin-left: 20px;
   }
   

   .box2_content_box2{
    background-image: url("images/content2.png");
    background-size: cover;
    height: 300px;
    width: 230px;
    padding: 38px 30px 44px;
    background-position: 50%;
    margin-left: 20px;
    text-align: center;
   }
   
   
   .box2_content_box3{
    background-image: url("images/content3.png");
    background-size: cover;
    height: 300px;
    width: 230px;
    padding: 38px 30px 44px;
    background-position: 50%;
    margin-left: 20px;
    text-align: center;
   }
   .box2_content_box4{
    background-image: url("images/content4.png");
    background-size: cover;
    height: 300px;
    width: 230px;
    padding: 38px 30px 44px;
    background-position: 50%;
    margin-left: 20px;
    text-align: center;

   }
   .box2_content_box5{
    background-image: url("images/content5.png");
    background-size: cover;
    height: 300px;
    width: 230px;
    padding: 38px 30px 44px;
    background-position: 50%;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 100px;
   }
   .box2_content_box6{
    background-image: url("images/content6.png");
    background-size: cover;
    height: 300px;
    width: 230px;
    padding: 38px 30px 44px;
    background-position: 50%;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 100px;
   }
   .box2_content_box7{
    background-image: url("images/content7.png");
    background-size: cover;
    height: 300px;
    width: 230px;
    padding: 38px 30px 44px;
    background-position: 50%;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 100px;
   }
   .box2_content_box8{
    background-image: url("images/content8.png");
    background-size: cover;
    height: 300px;
    width: 230px;
    padding: 38px 30px 44px;
    background-position: 50%;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 100px;
   }

   .box2_body2 h5{
    font-family: sans-serif;
    font-size: 24px;
    color: #0c1a40;
    margin: 25px 0px 20px;
   }
   .box2_body2 p{
    font-family: sans-serif;
    font-size: 16px;
    color: #0c1a40;
    margin-bottom: 30px;
   }
    .box2_body2 a{
    font-family: sans-serif;
    font-size: 16px;
    color: #0c1a40;
    text-decoration: none;
   }



   /* box 3 */
   .box3{
    background-image: url("images/box3.png");
    height: 580px;
    width: 100%;
   }
   .box3_content{
    height: 80px;
    width: 100%;
    padding: 140px 24px 60px;
    display: flex;
   }
   .box3_content .para{
    margin-left: 80px;
    margin-right: 24px;
   }
   .box3_content .para h2{
    font-family: sans-serif;
    font-size: 48px;
    color: #0c1a40;
   }
   .box3_content .para p{
    font-family: sans-serif;
    font-size: 15px;
    color: #0c1a40;
    font-weight: 400px;
    line-height: 1.5rem;
   }
   .box3_content .para button{
    height: 50px;
    width: 134px;
    margin-top: 20px;
    font-family: sans-serif;
    background-color: #fe5c45;
    border-radius: 2.25rem;
    font-size: 16px;
    color: white;
    border-color: transparent;
    
   }
   .box3_content .para button:hover{
    background-color: rgb(25, 8, 87);
    }


    /* box 4 */
    .box4{
        height: 356px;
        width: 100%;
        background-image: url("images/box4.svg");
        background-size: cover;
        margin-top: 70px;
        align-items: center;
        
    }
    .box4_1{
        padding-top: 140px;
        padding-bottom: 140px;
        
    }
    .box4_body{
        height: 76px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        margin-left: 24px;
        margin-right: 35px;
        padding-right: 24px;
    }
    
    .box4_body h2{
        font-family: sans-serif;
        font-size: 42px;
        color: #0c1a40;
        text-align: center;
        margin: 0%;
    }
    .box4_body p{
        font-family: sans-serif;
        font-size: 20px;
        color: #0c1a40;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .ten{
        margin-right: 50px;
    }
    .box5{
        height: 591px ;
        width: 100%;
        padding: 140px 0px;

    }
    .box5_content{
        height: 591px;
        width: 100%;
        padding: 0px 24px;

    }
    .box5_content1{
        text-align: center;
    }
    .box5_content1 h2{
        margin: 0px;
        color: #0c1a40;
        font-size: 48px;
        font-family: sans-serif;
    }
    .box5_content1 p{
        margin: 0px;
        color: #2e3c63;
        font-size: 15px;
        font-family: sans-serif;
    }
    .box5_content2{
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }
    .box5_content2_minibox{
        display: flex;
        margin-top: 100px;
    }
    .content2_minibox2{
        margin-left: 30px;
    }
    .content2_minibox2 h3{
        color: #0c1a40;
        font-size: 32px;
        font-family:sans-serif ;
        margin: 0px;
    }
    .content2_minibox2 p{
        color:#2e3c63 ;
        font-size: 16px;
        font-family: sans-serif;
    }
    

    .box6{
        height: 956px;
        width: 100%;
        background-image: url(images/box6_background_image.png);
    }
    .box6_content{
        height: 678px;
        width:100% ;
        padding: 140px 24px 140px;
    }
    .box6_content_1{
        height: 56px;
        width: 100%;
        display: flex;
       align-items: center;
        justify-content:space-between;
    }
    .box6_content_1 h2{
        color: #0c1a40;
        font-size: 48px;
        font-family:sans-serif ;

    }
    .box6_content_1 button{
        height: 50px;
        width: 152px;
        margin-right: 54px;
        font-family: sans-serif;
        background-color: #fe5c45;
        border-radius: 2.25rem;
        font-size: 16px;
        color: white;
        border-color: transparent;
    }
    .box6_content_1 button:hover{
        background-color: rgb(25, 8, 87);
    }
    .box6_content_2{
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 50px;
    }
    .box6_minibox1{
        height: 321px;
        width: 365px;
        background-image: url("images/box6_image1.png");
        background-size: cover;
        border-radius: 30px;
        margin-top: 30px;

    }
    .box6_minibox2{
        height: 321px;
        width: 365px;
        background-image: url("images/box6_image2.svg");
        background-size: cover;
        border-radius: 30px;
        margin-top: 30px;

    }
    .box6_minibox3{
        height: 321px;
        width: 365px;
        background-image: url("images/box6_image3.png");
        background-size: cover;
        border-radius: 30px;
        margin-top: 30px;

    }
    .box6_minibox4{
        height: 321px;
        width: 365px;
        background-image: url("images/box6_image4.png");
        background-size: cover;
        border-radius: 30px;
        margin-top: 30px;


    }
    .box6_minibox5{
        height: 321px;
        width: 365px;
        background-image: url("images/box6_image5.png");
        background-size: cover;
        border-radius: 30px;
        margin-top: 30px;

    }
    .box6_minibox6{
        height: 321px;
        width: 365px;
        background-image: url("images/box6_image6.png");
        background-size: cover;
        border-radius: 30px;
        margin-top: 30px;

    }

    /* box 7 */
    .box7{
        height: 455px;
        width: 100%;
        background-image: url(images/box7_background_image.png);
        background-size: cover;
        margin-top: 140px;

    }
    .box7_content{
        height: 455px;
        width: 100%;
        padding: 140px 24px 140px;
        display: flex;
        
    }
    .box7_minibox_1{
        height: 145px;
        width: 386px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #acdc3b;
        border-radius: 30px;
        border: 7px solid white;
    }
    .box7_minibox_content{
        display: flex;
        margin-right: 100px;

    }
    .box7_minibox_content1{
        margin-left: 15px;
    }
    .box7_minibox_icon{
        display: flex;
        align-items: center;
    }
    .box7_minibox_icon i{
       font-size: 40px;
       color: white
       
    }
    
    .box7_minibox_content1 h4{
           font-size: 28px;
           font-family: sans-serif;
           color: white;
           margin: 0px;
    }
    .box7_minibox_content1 p{
        font-size: 18px;
        font-family: sans-serif;
        color: white;
        margin: 0px;
    }
    .box7_minibox_2{
        height: 145px;
        width: 386px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fcb736;
        border-radius: 30px;
        border: 7px solid white;
    }
    .box7_minibox_3{
        height: 145px;
        width: 386px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fc5c45;
        border-radius: 30px;
        border: 7px solid white;
    }

    /* box 8 */
    .box8{
        height: 692px;
        width: 100%;
        background-color: #fffdf5;
    }
    .box8_content{
        height: 692px ;
        width:100% ;
        padding: 0px 24px 0px;
        display: flex;
        /* background-color: rgb(243, 235, 226); */
    }
    .box8_content_1{
        height: 692px;
        width: 40%;
       
    }
    .box8_content_1 h2{
        font-size: 48px;
        font-family: sans-serif;
        color: #0c1a40;
    }
    .box8_mini{
        display: flex;
        margin-bottom: 10px;
    }
    .box8_content_1 p{
        font-size: 24px;
        font-family: sans-serif;
        color: #2e3c63;
        margin-left: 30px;
        font-weight: 700px;
        
    }


    .box8_content_2{
        height: 692px;
        width: 60%;
        background-image: url("images/box8_background_image.png");
        margin-right: 30px;
    }
    .box8_content_2_img{
        margin-top: 380px;
        margin-left: 140px;
    }

    /* box 9 */
    .box9{
        height: 790px;
        width: 100%;
    }
    .box9_content{
        height: 590px;
        width: 100%;
        padding: 60px 24px 140px;
    }
    .box9_content1{
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }
    .box9_content1 h2{
        color: #0c1a40;
        font-size: 48px;
        font-family:sans-serif ;

    }
    .box9_content1 button{
        height: 50px;
        width: 152px;
        margin-right: 54px;
        font-family: sans-serif;
        background-color: #fe5c45;
        border-radius: 2.25rem;
        font-size: 16px;
        color: white;
        border-color: transparent;
    }
    .box9_content1 button:hover{
        background-color: rgb(25, 8, 87);
    }

    .box9_content2{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    .box9_minibox_img1{
        height: 269px;
        width: 380px;
        background-image: url("images/box9_content2_1.svg");
        background-size: cover;
        border-radius: 30px;
    }

    .box9_minibox_img2{
        height: 269px;
        width: 380px;
        background-image: url("images/box9_content2_2.svg");
        background-size: cover;
        border-radius: 30px;
    }

    .box9_minibox_img3{
        height: 269px;
        width: 380px;
        background-image: url("images/box9_content2_3.svg");
        background-size: cover;
        border-radius: 30px;
    }
    .box9_minibox_content1{
        display: flex;
        color: #8ec21e;
        margin-top: 15px;
        margin-left: 20px;
        align-items: center;
    }
    .box9_minibox_content1 p{
        margin-right: 30px;
        font-size: 18px;
        font-family: sans-serif;
    }
    .box9_minibox_content1 i{
        font-size: 40px;
    }
    .box9_minibox_content2 {
        margin-left: 20px;
    }
    .box9_minibox_content2 p{
        font-size: 24px;
        font-family: sans-serif;
        color: #0c1a40;
    }
    .box9_minibox_content2 a{
        text-decoration: none;
        color: #fc5c45;
        font-size: 20px;
        font-family: sans-serif;

    }

















    /* footer */
    .footer_bottom1{
        width: 100%;
        background-image: url("images/footer_background.png");
        background-size: cover;
    }
    .footer_bottom1_box{
        display: flex;
        justify-content: space-between;
        padding: 130px 30px 0px;
    }
    .footer_bottom1_minibox1_icons i{
        font-size: 20px;
        height: 24px;
        color: white;
        margin-right: 10px;
        margin-bottom: 50px;
    }
    .footer_bottom1_minibox1 p{
        color: #e8e8e8;
        font-size: 18px;
        font-family: sans-serif;
    }
    .footer_bottom1_minibox2 h3{
        color: white;
        font-family: sans-serif;
        font-size: 24px;
    }
    .footer_bottom1_minibox2 a{
        color: white;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 18px;
    }
    .footer_bottom1_minibox3 h3{
        color: white;
        font-family: sans-serif;
        font-size: 24px;
    }
    .footer_bottom1_minibox3 a{
        color: white;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 18px;
    }
    .footer_bottom1_minibox4 h3{
        color: white;
        font-family: sans-serif;
        font-size: 24px;
    }
    .footer_bottom1_minibox4 a{
        color: white;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 18px;
    }


    .footer_bottom2{
        height: 26px ;
        width: 100%;
        padding: 28px 30px 28px;
        background-color: #223668;
        border-color: transparent;
    }
    .footer_bottom2_text{
        text-align: center;
        font-size: 18px;
        font-family: sans-serif;
        color: #e8e8e8;
    }
    .footer_bottom2_text a{
        color: #fe5c45;
    }